<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>locesfa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD7181AB1C5AF4FA004734E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD7181C21C5AF4FA004734E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD7181CD1C5AF4FA004734E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
